### Import

In [1]:
import numpy as np 
import pandas as pd 
import random
import string
import time

In [2]:
df = pd.read_csv('./password.csv')
df.head()

    password
0   password
1  123456789
2   12345678
3      12345
4     qwerty

In [3]:
def randome_phone_number():
    extension = [209, 213, 310, 323, 408, 415, 424, 442, 510, 530, 559, 562, 619, 626, 650, 657, 661, 669, 707, 714, 747, 760, 805, 818, 831, 858, 909, 916, 925, 949, 951]
    return str(extension[random.randint(0, 29)]) + "-" + str(random.randint(111, 999)) + "-" + str(random.randint(1111, 9999))

In [4]:
def str_time_prop(start, end, time_format, prop):
    """Get a time at a proportion of a range of two formatted times.

    start and end should be strings specifying times formatted in the
    given format (strftime-style), giving an interval [start, end].
    prop specifies how a proportion of the interval to be taken after
    start.  The returned time will be in the specified format.
    """

    stime = time.mktime(time.strptime(start, time_format))
    etime = time.mktime(time.strptime(end, time_format))

    ptime = stime + prop * (etime - stime)

    return time.strftime(time_format, time.localtime(ptime))


def random_date(start, end, prop):
    return str_time_prop(start, end, '%m/%d/%Y %I:%M %p', prop)

In [5]:
def random_char(y):
       return ''.join(random.choice(string.ascii_letters) for x in range(y))

def status_char(y):
       return ''.join(random.choice('y' or 'n') for x in range(y))

In [6]:
data_user = []
for i in range(0, 300):
    data_user.append(df['password'].iloc[random.randint(0, 900)])


data_pass = []
for i in range(0, 300):
    data_pass.append(df['password'].iloc[random.randint(0, 900)])

In [7]:
data_mail = []
for i in range(0, 300):
    data_mail.append(random_char(7) + "@gmail.com")

In [8]:
data_login_date = []
for i in range(0, 300):
    data_login_date.append(random_date("11/1/2022 1:30 PM", "8/1/2022 4:50 AM", random.random()))

data_started_date = []
for i in range(0, 300):
    data_started_date.append(random_date("7/1/2022 1:30 PM", "3/1/2022 4:50 AM", random.random()))

In [9]:
data_phone_number = []
for i in range(0, 300):
    data_phone_number.append(randome_phone_number())

In [10]:
# Create the pandas DataFrame
data = {
    'username': data_user,
    "password": data_pass,
    "mail_address": data_mail,
    "phone_number": data_phone_number,
    "status": ['']*300,
    "last_login": data_login_date,
    "date_started": data_started_date,
    "num_of_lights": random.randint(0, 10)*300
}

data_dictionary = pd.DataFrame(data)

In [11]:
data_dictionary.head()

,username,password,mail_address,phone_number,status,last_login,date_started,num_of_lights
0,joshua,chandler,aTZlznr@gmail.com,949-337-7288,,08/03/2022 10:06 AM,05/20/2022 09:06 AM,900
1,panthers,junior,tzkTeMy@gmail.com,858-184-8092,,09/26/2022 10:00 PM,05/27/2022 09:56 PM,900
2,swordfish,christopher,tYJlmfB@gmail.com,559-725-6288,,10/22/2022 05:04 AM,06/17/2022 03:48 AM,900
3,gregory,888888,BWxyaAd@gmail.com,626-238-8942,,10/21/2022 04:13 PM,03/08/2022 01:37 PM,900
4,general,jackson,ogazwCT@gmail.com,415-396-7415,,10/06/2022 12:56 PM,05/29/2022 05:33 AM,900

In [12]:
data_dictionary.to_csv('./data_dictionary.csv', index=False)

In [13]:
data_dictionary.head()

,username,password,mail_address,phone_number,status,last_login,date_started,num_of_lights
0,joshua,chandler,aTZlznr@gmail.com,949-337-7288,,08/03/2022 10:06 AM,05/20/2022 09:06 AM,900
1,panthers,junior,tzkTeMy@gmail.com,858-184-8092,,09/26/2022 10:00 PM,05/27/2022 09:56 PM,900
2,swordfish,christopher,tYJlmfB@gmail.com,559-725-6288,,10/22/2022 05:04 AM,06/17/2022 03:48 AM,900
3,gregory,888888,BWxyaAd@gmail.com,626-238-8942,,10/21/2022 04:13 PM,03/08/2022 01:37 PM,900
4,general,jackson,ogazwCT@gmail.com,415-396-7415,,10/06/2022 12:56 PM,05/29/2022 05:33 AM,900