### Import

In [1]:
import numpy as np 
import pandas as pd 
import random
import string
import time

In [2]:
df = pd.read_csv('./password.csv')
df.head()

    password
0   password
1  123456789
2   12345678
3      12345
4     qwerty

In [3]:
def randome_phone_number():
    extension = [209, 213, 310, 323, 408, 415, 424, 442, 510, 530, 559, 562, 619, 626, 650, 657, 661, 669, 707, 714, 747, 760, 805, 818, 831, 858, 909, 916, 925, 949, 951]
    return str(extension[random.randint(0, 29)]) + "-" + str(random.randint(111, 999)) + "-" + str(random.randint(1111, 9999))

def str_time_prop(start, end, time_format, prop):
    """Get a time at a proportion of a range of two formatted times.

    start and end should be strings specifying times formatted in the
    given format (strftime-style), giving an interval [start, end].
    prop specifies how a proportion of the interval to be taken after
    start.  The returned time will be in the specified format.
    """

    stime = time.mktime(time.strptime(start, time_format))
    etime = time.mktime(time.strptime(end, time_format))

    ptime = stime + prop * (etime - stime)

    return time.strftime(time_format, time.localtime(ptime))


def random_date(start, end, prop):
    return str_time_prop(start, end, '%m/%d/%Y %I:%M %p', prop)

def random_char(y):
       return ''.join(random.choice(string.ascii_letters) for x in range(y))

def status_char(y):
       return ''.join(random.choice('y' or 'n') for x in range(y))

In [4]:
data_user = []
for i in range(0, 300):
    data_user.append(df['password'].iloc[random.randint(0, 900)])


data_pass = []
for i in range(0, 300):
    data_pass.append(df['password'].iloc[random.randint(0, 900)])

data_mail = []
for i in range(0, 300):
    data_mail.append(random_char(7) + "@gmail.com")

data_login_date = []
for i in range(0, 300):
    data_login_date.append(random_date("11/1/2022 1:30 PM", "8/1/2022 4:50 AM", random.random()))

data_started_date = []
for i in range(0, 300):
    data_started_date.append(random_date("7/1/2022 1:30 PM", "3/1/2022 4:50 AM", random.random()))

data_phone_number = []
for i in range(0, 300):
    data_phone_number.append(randome_phone_number())

data_status = []
for i in range(0, 300):
    data_status.append(status_char(1))

data_num_of_light = []
for i in range(0, 300):
    data_num_of_light.append(random.randint(0, 10))

In [5]:
# Create the pandas DataFrame
data = {
    'username': data_user,
    "password": data_pass,
    "mail_address": data_mail,
    "phone_number": data_phone_number,
    "status": data_status,
    "last_login": data_login_date,
    "date_started": data_started_date,
    "num_of_lights": data_num_of_light
}

data_dictionary = pd.DataFrame(data)

In [6]:
data_dictionary.head()

,username,password,mail_address,phone_number,status,last_login,date_started,num_of_lights
0,1q2w3e,chicago,jRaUjRY@gmail.com,747-757-4198,y,08/31/2022 10:25 AM,06/23/2022 11:44 PM,3
1,aaaaaaaa,florence,eQXHKcl@gmail.com,747-667-4542,y,09/09/2022 12:59 PM,03/06/2022 06:38 PM,0
2,courtney,pussycat,ULiIMOp@gmail.com,858-287-1418,y,08/06/2022 05:48 AM,05/20/2022 08:43 PM,0
3,tamara,perfect,mIvhCFy@gmail.com,562-774-2754,y,09/25/2022 09:47 AM,06/03/2022 08:01 AM,7
4,isabelle,montana,kNQgoiq@gmail.com,424-716-1552,y,08/14/2022 11:59 PM,03/13/2022 09:52 PM,2

In [7]:
data_dictionary.to_csv('./data_dictionary.csv', index=False)

In [8]:
data_dictionary.head()

,username,password,mail_address,phone_number,status,last_login,date_started,num_of_lights
0,1q2w3e,chicago,jRaUjRY@gmail.com,747-757-4198,y,08/31/2022 10:25 AM,06/23/2022 11:44 PM,3
1,aaaaaaaa,florence,eQXHKcl@gmail.com,747-667-4542,y,09/09/2022 12:59 PM,03/06/2022 06:38 PM,0
2,courtney,pussycat,ULiIMOp@gmail.com,858-287-1418,y,08/06/2022 05:48 AM,05/20/2022 08:43 PM,0
3,tamara,perfect,mIvhCFy@gmail.com,562-774-2754,y,09/25/2022 09:47 AM,06/03/2022 08:01 AM,7
4,isabelle,montana,kNQgoiq@gmail.com,424-716-1552,y,08/14/2022 11:59 PM,03/13/2022 09:52 PM,2

In [10]:
type(data_login_date)

list