### Import

In [1]:
import numpy as np 
import pandas as pd

In [2]:
df = pd.read_csv('./password.csv')

In [3]:
df.head()

      123456
0   password
1  123456789
2   12345678
3      12345
4     qwerty

In [4]:
data_user = []
for i in range(0, 300):
    data_user.append(df.iloc[i])


data_pass = []
for i in range(0, 300):
    data_pass.append(df.iloc[i])

In [5]:
import random
import string

In [6]:
def random_char(y):
       return ''.join(random.choice(string.ascii_letters) for x in range(y))

In [7]:
data_mail = []
for i in range(0, 300):
    data_mail.append(random_char(7) + "@gmail.com")

In [8]:
import time

In [9]:
def str_time_prop(start, end, time_format, prop):
    """Get a time at a proportion of a range of two formatted times.

    start and end should be strings specifying times formatted in the
    given format (strftime-style), giving an interval [start, end].
    prop specifies how a proportion of the interval to be taken after
    start.  The returned time will be in the specified format.
    """

    stime = time.mktime(time.strptime(start, time_format))
    etime = time.mktime(time.strptime(end, time_format))

    ptime = stime + prop * (etime - stime)

    return time.strftime(time_format, time.localtime(ptime))


def random_date(start, end, prop):
    return str_time_prop(start, end, '%m/%d/%Y %I:%M %p', prop)

In [10]:
data_login_date = []
for i in range(0, 300):
    data_login_date.append(random_date("11/1/2022 1:30 PM", "8/1/2022 4:50 AM", random.random()))

data_started_date = []
for i in range(0, 300):
    data_started_date.append(random_date("7/1/2022 1:30 PM", "3/1/2022 4:50 AM", random.random()))

In [11]:
random.randint(3, 9)

3

In [12]:
def randome_phone_number():
    extension = [209, 213, 310, 323, 408, 415, 424, 442, 510, 530, 559, 562, 619, 626, 650, 657, 661, 669, 707, 714, 747, 760, 805, 818, 831, 858, 909, 916, 925, 949, 951]
    return str(extension[random.randint(0, 29)]) + "-" + str(random.randint(111, 999)) + "-" + str(random.randint(1111, 9999))

In [13]:
data_phone_number = []
for i in range(0, 300):
    data_phone_number.append(randome_phone_number())

In [14]:
data_user

[123456    password
 Name: 0, dtype: object,
 123456    123456789
 Name: 1, dtype: object,
 123456    12345678
 Name: 2, dtype: object,
 123456    12345
 Name: 3, dtype: object,
 123456    qwerty
 Name: 4, dtype: object,
 123456    123123
 Name: 5, dtype: object,
 123456    111111
 Name: 6, dtype: object,
 123456    abc123
 Name: 7, dtype: object,
 123456    1234567
 Name: 8, dtype: object,
 123456    dragon
 Name: 9, dtype: object,
 123456    1q2w3e4r
 Name: 10, dtype: object,
 123456    sunshine
 Name: 11, dtype: object,
 123456    654321
 Name: 12, dtype: object,
 123456    master
 Name: 13, dtype: object,
 123456    1234
 Name: 14, dtype: object,
 123456    football
 Name: 15, dtype: object,
 123456    1234567890
 Name: 16, dtype: object,
 123456    000000
 Name: 17, dtype: object,
 123456    computer
 Name: 18, dtype: object,
 123456    666666
 Name: 19, dtype: object,
 123456    superman
 Name: 20, dtype: object,
 123456    michael
 Name: 21, dtype: object,
 123456    internet
 Name: 22, dtype: object,
 123456    iloveyou
 Name: 23, dtype: object,
 123456    daniel
 Name: 24, dtype: object,
 123456    1qaz2wsx
 Name: 25, dtype: object,
 123456    monkey
 Name: 26, dtype: object,
 123456    shadow
 Name: 27, dtype: object,
 123456    jessica
 Name: 28, dtype: object,
 123456    letmein
 Name: 29, dtype: object,
 123456    baseball
 Name: 30, dtype: object,
 123456    whatever
 Name: 31, dtype: object,
 123456    princess
 Name: 32, dtype: object,
 123456    abcd1234
 Name: 33, dtype: object,
 123456    123321
 Name: 34, dtype: object,
 123456    starwars
 Name: 35, dtype: object,
 123456    121212
 Name: 36, dtype: object,
 123456    thomas
 Name: 37, dtype: object,
 123456    zxcvbnm
 Name: 38, dtype: object,
 123456    trustno1
 Name: 39, dtype: object,
 123456    killer
 Name: 40, dtype: object,
 123456    welcome
 Name: 41, dtype: object,
 123456    jordan
 Name: 42, dtype: object,
 123456    aaaaaa
 Name: 43, dtype: object,
 123456    123qwe
 Name: 44, dtype: object,
 123456    freedom
 Name: 45, dtype: object,
 123456    password1
 Name: 46, dtype: object,
 123456    charlie
 Name: 47, dtype: object,
 123456    batman
 Name: 48, dtype: object,
 123456    jennifer
 Name: 49, dtype: object,
 123456    7777777
 Name: 50, dtype: object,
 123456    michelle
 Name: 51, dtype: object,
 123456    diamond
 Name: 52, dtype: object,
 123456    oliver
 Name: 53, dtype: object,
 123456    mercedes
 Name: 54, dtype: object,
 123456    benjamin
 Name: 55, dtype: object,
 123456    11111111
 Name: 56, dtype: object,
 123456    snoopy
 Name: 57, dtype: object,
 123456    samantha
 Name: 58, dtype: object,
 123456    victoria
 Name: 59, dtype: object,
 123456    matrix
 Name: 60, dtype: object,
 123456    george
 Name: 61, dtype: object,
 123456    alexander
 Name: 62, dtype: object,
 123456    secret
 Name: 63, dtype: object,
 123456    cookie
 Name: 64, dtype: object,
 123456    asdfgh
 Name: 65, dtype: object,
 123456    987654321
 Name: 66, dtype: object,
 123456    123abc
 Name: 67, dtype: object,
 123456    orange
 Name: 68, dtype: object,
 123456    fuckyou
 Name: 69, dtype: object,
 123456    asdf1234
 Name: 70, dtype: object,
 123456    pepper
 Name: 71, dtype: object,
 123456    hunter
 Name: 72, dtype: object,
 123456    silver
 Name: 73, dtype: object,
 123456    joshua
 Name: 74, dtype: object,
 123456    banana
 Name: 75, dtype: object,
 123456    1q2w3e
 Name: 76, dtype: object,
 123456    chelsea
 Name: 77, dtype: object,
 123456    1234qwer
 Name: 78, dtype: object,
 123456    summer
 Name: 79, dtype: object,
 123456    qwertyuiop
 Name: 80, dtype: object,
 123456    phoenix
 Name: 81, dtype: object,
 123456    andrew
 Name: 82, dtype: object,
 123456    q1w2e3r4
 Name: 83, dtype: object,
 123456    elephant
 Name: 84, dtype: object,
 123456    rainbow
 Name: 85, dtype: object,
 123456    mustang
 Name: 86, dtype: object,
 123456    merlin
 Name: 87, dtype: object,
 123456    london
 Name: 88, dtype: object,
 123456    garfield
 Name: 89, dtype: object,
 123456    robert
 Name: 90, dtype: object,
 123456    chocolate
 Name: 91, dtype: object,
 123456    112233
 Name: 92, dtype: object,
 123456    samsung
 Name: 93, dtype: object,
 123456    qazwsx
 Name: 94, dtype: object,
 123456    matthew
 Name: 95, dtype: object,
 123456    buster
 Name: 96, dtype: object,
 123456    jonathan
 Name: 97, dtype: object,
 123456    ginger
 Name: 98, dtype: object,
 123456    flower
 Name: 99, dtype: object,
 123456    555555
 Name: 100, dtype: object,
 123456    test
 Name: 101, dtype: object,
 123456    caroline
 Name: 102, dtype: object,
 123456    amanda
 Name: 103, dtype: object,
 123456    maverick
 Name: 104, dtype: object,
 123456    midnight
 Name: 105, dtype: object,
 123456    martin
 Name: 106, dtype: object,
 123456    junior
 Name: 107, dtype: object,
 123456    88888888
 Name: 108, dtype: object,
 123456    anthony
 Name: 109, dtype: object,
 123456    jasmine
 Name: 110, dtype: object,
 123456    creative
 Name: 111, dtype: object,
 123456    patrick
 Name: 112, dtype: object,
 123456    mickey
 Name: 113, dtype: object,
 123456    123
 Name: 114, dtype: object,
 123456    qwerty123
 Name: 115, dtype: object,
 123456    cocacola
 Name: 116, dtype: object,
 123456    chicken
 Name: 117, dtype: object,
 123456    passw0rd
 Name: 118, dtype: object,
 123456    forever
 Name: 119, dtype: object,
 123456    william
 Name: 120, dtype: object,
 123456    nicole
 Name: 121, dtype: object,
 123456    hello
 Name: 122, dtype: object,
 123456    yellow
 Name: 123, dtype: object,
 123456    nirvana
 Name: 124, dtype: object,
 123456    justin
 Name: 125, dtype: object,
 123456    friends
 Name: 126, dtype: object,
 123456    cheese
 Name: 127, dtype: object,
 123456    tigger
 Name: 128, dtype: object,
 123456    mother
 Name: 129, dtype: object,
 123456    liverpool
 Name: 130, dtype: object,
 123456    blink182
 Name: 131, dtype: object,
 123456    asdfghjkl
 Name: 132, dtype: object,
 123456    andrea
 Name: 133, dtype: object,
 123456    spider
 Name: 134, dtype: object,
 123456    scooter
 Name: 135, dtype: object,
 123456    richard
 Name: 136, dtype: object,
 123456    soccer
 Name: 137, dtype: object,
 123456    rachel
 Name: 138, dtype: object,
 123456    purple
 Name: 139, dtype: object,
 123456    morgan
 Name: 140, dtype: object,
 123456    melissa
 Name: 141, dtype: object,
 123456    jackson
 Name: 142, dtype: object,
 123456    arsenal
 Name: 143, dtype: object,
 123456    222222
 Name: 144, dtype: object,
 123456    qwe123
 Name: 145, dtype: object,
 123456    gabriel
 Name: 146, dtype: object,
 123456    ferrari
 Name: 147, dtype: object,
 123456    jasper
 Name: 148, dtype: object,
 123456    danielle
 Name: 149, dtype: object,
 123456    bandit
 Name: 150, dtype: object,
 123456    angela
 Name: 151, dtype: object,
 123456    scorpion
 Name: 152, dtype: object,
 123456    prince
 Name: 153, dtype: object,
 123456    maggie
 Name: 154, dtype: object,
 123456    austin
 Name: 155, dtype: object,
 123456    veronica
 Name: 156, dtype: object,
 123456    nicholas
 Name: 157, dtype: object,
 123456    monster
 Name: 158, dtype: object,
 123456    dexter
 Name: 159, dtype: object,
 123456    carlos
 Name: 160, dtype: object,
 123456    thunder
 Name: 161, dtype: object,
 123456    success
 Name: 162, dtype: object,
 123456    hannah
 Name: 163, dtype: object,
 123456    ashley
 Name: 164, dtype: object,
 123456    131313
 Name: 165, dtype: object,
 123456    stella
 Name: 166, dtype: object,
 123456    brandon
 Name: 167, dtype: object,
 123456    pokemon
 Name: 168, dtype: object,
 123456    joseph
 Name: 169, dtype: object,
 123456    asdfasdf
 Name: 170, dtype: object,
 123456    999999
 Name: 171, dtype: object,
 123456    metallica
 Name: 172, dtype: object,
 123456    december
 Name: 173, dtype: object,
 123456    chester
 Name: 174, dtype: object,
 123456    taylor
 Name: 175, dtype: object,
 123456    sophie
 Name: 176, dtype: object,
 123456    samuel
 Name: 177, dtype: object,
 123456    rabbit
 Name: 178, dtype: object,
 123456    crystal
 Name: 179, dtype: object,
 123456    barney
 Name: 180, dtype: object,
 123456    xxxxxx
 Name: 181, dtype: object,
 123456    steven
 Name: 182, dtype: object,
 123456    ranger
 Name: 183, dtype: object,
 123456    patricia
 Name: 184, dtype: object,
 123456    christian
 Name: 185, dtype: object,
 123456    asshole
 Name: 186, dtype: object,
 123456    spiderman
 Name: 187, dtype: object,
 123456    sandra
 Name: 188, dtype: object,
 123456    hockey
 Name: 189, dtype: object,
 123456    angels
 Name: 190, dtype: object,
 123456    security
 Name: 191, dtype: object,
 123456    parker
 Name: 192, dtype: object,
 123456    heather
 Name: 193, dtype: object,
 123456    888888
 Name: 194, dtype: object,
 123456    victor
 Name: 195, dtype: object,
 123456    harley
 Name: 196, dtype: object,
 123456    333333
 Name: 197, dtype: object,
 123456    system
 Name: 198, dtype: object,
 123456    slipknot
 Name: 199, dtype: object,
 123456    november
 Name: 200, dtype: object,
 123456    jordan23
 Name: 201, dtype: object,
 123456    canada
 Name: 202, dtype: object,
 123456    tennis
 Name: 203, dtype: object,
 123456    qwertyui
 Name: 204, dtype: object,
 123456    casper
 Name: 205, dtype: object,
 123456    gemini
 Name: 206, dtype: object,
 123456    asd123
 Name: 207, dtype: object,
 123456    winter
 Name: 208, dtype: object,
 123456    hammer
 Name: 209, dtype: object,
 123456    cooper
 Name: 210, dtype: object,
 123456    america
 Name: 211, dtype: object,
 123456    albert
 Name: 212, dtype: object,
 123456    777777
 Name: 213, dtype: object,
 123456    winner
 Name: 214, dtype: object,
 123456    charles
 Name: 215, dtype: object,
 123456    butterfly
 Name: 216, dtype: object,
 123456    swordfish
 Name: 217, dtype: object,
 123456    popcorn
 Name: 218, dtype: object,
 123456    penguin
 Name: 219, dtype: object,
 123456    dolphin
 Name: 220, dtype: object,
 123456    carolina
 Name: 221, dtype: object,
 123456    access
 Name: 222, dtype: object,
 123456    987654
 Name: 223, dtype: object,
 123456    hardcore
 Name: 224, dtype: object,
 123456    corvette
 Name: 225, dtype: object,
 123456    apples
 Name: 226, dtype: object,
 123456    12341234
 Name: 227, dtype: object,
 123456    sabrina
 Name: 228, dtype: object,
 123456    remember
 Name: 229, dtype: object,
 123456    qwer1234
 Name: 230, dtype: object,
 123456    edward
 Name: 231, dtype: object,
 123456    dennis
 Name: 232, dtype: object,
 123456    cherry
 Name: 233, dtype: object,
 123456    sparky
 Name: 234, dtype: object,
 123456    natasha
 Name: 235, dtype: object,
 123456    arthur
 Name: 236, dtype: object,
 123456    vanessa
 Name: 237, dtype: object,
 123456    marina
 Name: 238, dtype: object,
 123456    leonardo
 Name: 239, dtype: object,
 123456    johnny
 Name: 240, dtype: object,
 123456    dallas
 Name: 241, dtype: object,
 123456    antonio
 Name: 242, dtype: object,
 123456    winston
 Name: 243, dtype: object,
 123456    snickers
 Name: 244, dtype: object,
 123456    olivia
 Name: 245, dtype: object,
 123456    nothing
 Name: 246, dtype: object,
 123456    iceman
 Name: 247, dtype: object,
 123456    destiny
 Name: 248, dtype: object,
 123456    coffee
 Name: 249, dtype: object,
 123456    apollo
 Name: 250, dtype: object,
 123456    696969
 Name: 251, dtype: object,
 123456    windows
 Name: 252, dtype: object,
 123456    williams
 Name: 253, dtype: object,
 123456    school
 Name: 254, dtype: object,
 123456    madison
 Name: 255, dtype: object,
 123456    dakota
 Name: 256, dtype: object,
 123456    angelina
 Name: 257, dtype: object,
 123456    anderson
 Name: 258, dtype: object,
 123456    159753
 Name: 259, dtype: object,
 123456    1111
 Name: 260, dtype: object,
 123456    yamaha
 Name: 261, dtype: object,
 123456    trinity
 Name: 262, dtype: object,
 123456    rebecca
 Name: 263, dtype: object,
 123456    nathan
 Name: 264, dtype: object,
 123456    guitar
 Name: 265, dtype: object,
 123456    compaq
 Name: 266, dtype: object,
 123456    123123123
 Name: 267, dtype: object,
 123456    toyota
 Name: 268, dtype: object,
 123456    shannon
 Name: 269, dtype: object,
 123456    playboy
 Name: 270, dtype: object,
 123456    peanut
 Name: 271, dtype: object,
 123456    pakistan
 Name: 272, dtype: object,
 123456    diablo
 Name: 273, dtype: object,
 123456    abcdef
 Name: 274, dtype: object,
 123456    maxwell
 Name: 275, dtype: object,
 123456    golden
 Name: 276, dtype: object,
 123456    asdasd
 Name: 277, dtype: object,
 123456    123654
 Name: 278, dtype: object,
 123456    murphy
 Name: 279, dtype: object,
 123456    monica
 Name: 280, dtype: object,
 123456    marlboro
 Name: 281, dtype: object,
 123456    kimberly
 Name: 282, dtype: object,
 123456    gateway
 Name: 283, dtype: object,
 123456    bailey
 Name: 284, dtype: object,
 123456    00000000
 Name: 285, dtype: object,
 123456    snowball
 Name: 286, dtype: object,
 123456    scooby
 Name: 287, dtype: object,
 123456    nikita
 Name: 288, dtype: object,
 123456    falcon
 Name: 289, dtype: object,
 123456    august
 Name: 290, dtype: object,
 123456    test123
 Name: 291, dtype: object,
 123456    sebastian
 Name: 292, dtype: object,
 123456    panther
 Name: 293, dtype: object,
 123456    love
 Name: 294, dtype: object,
 123456    johnson
 Name: 295, dtype: object,
 123456    godzilla
 Name: 296, dtype: object,
 123456    genesis
 Name: 297, dtype: object,
 123456    brandy
 Name: 298, dtype: object,
 123456    adidas
 Name: 299, dtype: object]

In [15]:
# Create the pandas DataFrame
data = {
    'username': data_user,
    "password": data_pass,
    "mail_address": data_mail,
    "phone_number": data_phone_number,
    "status": ['']*300,
    "last_login": data_login_date,
    "date_started": data_started_date,
    "num_of_lights": random.randint(0, 10)*300
}

data_dictionary = pd.DataFrame(data)

In [16]:
data_dictionary.to_csv('./data_dictionary.csv', index=False)

In [17]:
data_dictionary.head()

,username,password,mail_address,phone_number,status,last_login,date_started,num_of_lights
0,"123456 password Name: 0, dtype: object","123456 password Name: 0, dtype: object",OVOMTPn@gmail.com,818-638-4924,,10/13/2022 12:02 PM,03/04/2022 09:43 AM,1200
1,"123456 123456789 Name: 1, dtype: object","123456 123456789 Name: 1, dtype: object",EWOslIZ@gmail.com,657-790-8770,,08/31/2022 12:50 AM,03/29/2022 01:08 AM,1200
2,"123456 12345678 Name: 2, dtype: object","123456 12345678 Name: 2, dtype: object",dFugbaM@gmail.com,209-647-2237,,09/24/2022 10:35 PM,03/25/2022 04:26 PM,1200
3,"123456 12345 Name: 3, dtype: object","123456 12345 Name: 3, dtype: object",bNsvyQD@gmail.com,650-864-1280,,10/25/2022 01:34 AM,05/20/2022 06:15 AM,1200
4,"123456 qwerty Name: 4, dtype: object","123456 qwerty Name: 4, dtype: object",hrWIwIr@gmail.com,669-707-5292,,09/01/2022 06:14 PM,06/18/2022 07:10 AM,1200